body > div {
  font-size: 1.3rem;
}
#session {
  margin-top: -3.5rem;
}
#header h1 {
  background-color: #423A3A;
}
#header h1 a {
  color: white;
  font-weight: bold;
  text-shadow: none;
}
#header h1 a:hover {
  color: #B40B51;
}
#header a {
  color: rgba(255, 255, 255, 0.7);
}
#header a:hover {
  color: white;
}
nav#nav {
  background: none;
  background-color: #3A3232;
  min-height: 35px;
}
nav#nav ul {
  font-size: 1.4rem;
  line-height: 3.4rem;
}
nav#nav ul a {
  border: none;
  text-shadow: none;
}
nav#nav ul a:hover {
  border: none;
}
nav#nav > ul > li {
  text-shadow: none;
  color: #888;
  height: 3.4rem;
}
nav#nav > ul > li:hover {
  height: 3.4rem;
}
nav#nav > ul > li.active {
  height: 3.4rem;
}
nav#nav > ul > li.active:hover {
  height: 3.4rem;
}
nav#nav ul > li.active {
  background-image: none;
  background-color: #4D78B4;
  border: none;
  height: 3.4rem;
  text-shadow: none;
}
nav#nav li > ul {
  border-color: rgba(120, 120, 120, 0.6);
  box-shadow: none;
  top: 3.4rem;
}
nav#nav li > ul li:hover {
  height: 3.4rem;
}
nav#nav li > ul li a:hover {
  background-color: rgba(66, 58, 58, 0.6);
}
h2#symphony-subheading {
  color: #423A3A;
  font-weight: bold;
}
.apply button {
  height: inherit;
}
.apply:hover button {
  border-left: 1px solid #ccc;
}
.apply select {
  line-height: 1.4rem;
  font-size: 1.33333333rem;
  position: relative;
  top: -0.1rem;
}
@-moz-document url-prefix() {
  .apply select {
    top: -0.3rem;
  }
}
.apply select:hover {
  background-position: top right;
}
.apply > div {
  position: relative;
  top: .2rem;
}
.apply-label-left {
  background-color: rgba(175, 175, 175, 0.3);
  background-image: none;
  height: inherit;
}
ul.actions .button {
  background-color: rgba(175, 175, 175, 0.3);
  background-image: none;
  border: none;
  padding: 0.2rem 1.3rem;
}
ul.actions .button:hover {
  background-color: rgba(175, 175, 175, 0.6);
}
ul.actions .button.create {
  background-color: #6ea32f;
  background-image: none;
  border: none;
}
ul.actions .button.create:hover {
  background-color: #537b24;
}
ul.actions .button.link-preview {
  background-color: rgba(175, 175, 175, 0.3);
}
ul.actions .button.link-preview:hover {
  background-color: rgba(175, 175, 175, 0.6);
  background-image: none;
}
div.actions select {
  margin-top: 0.4rem;
}
div.field input[type="file"] {
  border: none;
}
div.field input[type="text"] {
  height: inherit;
  background-color: #f8f8f8;
}
div.field textarea {
  background-color: #f8f8f8;
}
div.field input,
div.field textarea,
div.field select[multiple] {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
div.field select {
  font-size: 2rem;
  margin-top: 0.1rem;
}
div.notifier p {
  border-bottom: none;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 0.4rem;
}
div.notifier p.notice {
  background-color: #423A3A;
}
div.notifier p.notice.success {
  background-color: #6ea32f;
  color: rgba(255, 255, 255, 0.6);
}
div.notifier p.notice.success.dimmed a {
  border-bottom-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
}
div.notifier p.notice.success.dimmed a:hover {
  border-bottom-color: #fff;
  color: white;
}
div.notifier p.notice.error.active a {
  color: #deb82a;
}
div#drawer-filtering .button {
  background-color: rgba(175, 175, 175, 0.3);
  background-image: none;
  border: none;
}
div#drawer-filtering .button:hover {
  background-color: rgba(175, 175, 175, 0.6);
}
div#drawer-filtering .selectize-control {
  background-color: #fff;
}
div#drawer-filtering .filtering-comparison .selectize-input {
  background-image: none;
  background-color: rgba(175, 175, 175, 0.3);
}
@-moz-document url-prefix() {
  fieldset.settings select {
    font-size: 1.3rem;
  }
  fieldset.settings select[multiple='multiple'] {
    font-size: 1.3rem;
  }
}
fieldset.settings select option {
  font-size: 1.25rem;
}
@-moz-document url-prefix() {
  fieldset.settings select option {
    font-size: 1.3rem;
  }
}
fieldset.settings .frame {
  background-color: #f9f8f8;
}
fieldset.settings .apply select {
  line-height: 1.8rem;
  font-size: inherit;
}
fieldset.settings.contextual select {
  line-height: 1.8rem;
}
fieldset.apply input[type="submit"] {
  background-image: none;
  border-left: 1px solid transparent;
  padding: 0.1rem 1rem;
}
fieldset.apply input[type="submit"]:hover {
  background-image: none;
  border-left: 1px solid #ccc;
}
fieldset.apply button[type='submit'],
fieldset.apply button[type='button'],
fieldset.apply button.constructor {
  background-image: none;
  border-left: 1px solid transparent;
  padding: 0.1rem 1rem;
}
fieldset.apply button[type='submit']:hover,
fieldset.apply button[type='button']:hover,
fieldset.apply button.constructor:hover {
  background-image: none;
  border-left: 1px solid #ccc;
}
fieldset.apply > div {
  position: relative;
  top: 0.2rem;
}
fieldset.apply select {
  position: relative;
  top: -0.1rem;
}
.collapsible .content {
  background-color: #f1f0f0;
}
input[type='submit'] {
  background-image: none;
  background-color: rgba(175, 175, 175, 0.3);
  border: none;
  height: inherit;
  line-height: inherit;
  padding: 0.5rem 1.3rem;
}
input[type='submit']:hover {
  background-color: #6ea32f;
  background-image: none;
  color: white;
}
input[type="text"] {
  padding: .3rem .5rem;
}
button[type='button'] {
  background-color: rgba(175, 175, 175, 0.3);
  background-image: none;
  border: none;
}
button[type='button']:hover {
  background-color: rgba(175, 175, 175, 0.6);
}
button.delete,
.button.delete {
  background-color: rgba(175, 175, 175, 0.3);
  background-image: none;
  border: none;
  line-height: inherit;
  padding: 0.5rem 1.3rem;
}
button.delete:hover,
.button.delete:hover {
  background-color: #b34503;
  background-image: none;
  color: white;
}
.button.selected {
  box-shadow: none;
  text-shadow: none;
}
select {
  font-size: 2rem;
  padding: 0.1rem 0.1rem 0.2rem;
}
@-moz-document url-prefix() {
  select {
    font-size: 1.3rem;
  }
}
select[multiple='multiple'] option {
  padding: 0.2rem 0.3rem;
}
label.column i {
  right: 6px;
  top: 3px;
}
